.float-left{
    float: left;
}
.float-right{
    float: right;
}
.song{
    float: left;
    width: 100%;
    padding: 7px 10px;
    border-radius: 4px;
}
.song-info{
    overflow: hidden;
}
.song:hover{
    background-color: #eee;
}
.song-title{
    font-size: 14px;
    font-weight: bold;
}
.song-singler {
    margin-top: 4px;
    color: #a0a0a0;
}
ul {
    width: 320px;
}
img{
    height:40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 4px;
    margin-right: 10px;
}
p{
    margin: 0;
    text-align: left;
    font-size: 12px;
}